body{
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    header{
        width: 60vw;
        height: 100px;
        position: fixed;
        z-index: 1;
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            div{
                cursor: pointer;
                width: 20%;
                height: 70%;
                background-color: #fff;
                color: #848484;
                border: 1px solid #707070;
                text-align: center;
                line-height: 38px;
                border-radius: 10px;
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav_englishWord{
                color: #ECECEC;
                background-color: #6A6A6A;
            }
        }
        .nav_close_btn{
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
    main{
        position: relative;
        width: 100%;
        height: 100%;
        .englishWord {
            background-color: #FFFFDC;
            color: #707070;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .direction{
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .leftBtn{
                    left: 1%;
                }
                .rightBtn{
                    right: 1%;
                }
            }
            .wordImg{
                width: 150px;
                height: 200px;
                margin-bottom: 50px;
                img{
                    border-radius: 10px;
                    width: 100%;
                }
            }
            .word_En{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 20px;
                h1{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
            .meaning_Kr{
                width: 80%;
                display: flex;
                flex-direction: column;
                >div {
                    padding-bottom: 32px;
                    p{
                        .sentence_meaning{
                            display: block;
                        }
                    }
                }
            }
            .hide_KR_On_Off{
                opacity: 0;
            }
            .hide_EN_On_Off{
                opacity: 0;
            }
            .choose_alphabet{
                width: 100%;
                position: absolute;
                bottom: 2%;
                left: 0px;
                color: #6A6A6A;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .add_kr_en {
                    display: flex;
                    align-items: center;
                    div{
                        margin-right: 20px;
                    }
                    .add {
                        cursor: pointer;
                    }
                    .kr_btn{
                        p{
                            cursor: pointer;
                            font-size: 2rem;
                            position: relative;
                            span{
                                display: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -40%);
                            }
                            .hide1_On_Off{
                                display: unset;
                            }
                        }
                    }
                    .En_btn{
                        p{
                            cursor: pointer;
                            position: relative;
                            font-size: 2rem;
                            span{
                                display: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -40%);
                            }
                            .hide2_On_Off{
                                display: unset;
                            }
                        }
                    }
                }
                .alphabet{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: row;
                    margin-top: 20px;
                    .a{
                        background: #707070;
                        color: #fff;
                    }
                    li{
                        cursor: pointer;
                        width: 33px;
                        height: 33px;
                        border: 1px solid #707070;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 32px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .game {
            width: 100%;
            height: 100%;
            background: #E3D2F9;
            // display: flex;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .game_correct_anwserImg{
                width: 20%;
                height: 35%;
                img{
                    width: 100%;
                }
            }
            .game_HowManyWords{
                display: flex;
                width: 100%;
                height: 10%;
                justify-content: center;
                align-items: center;
                .game_word_alphabet{
                    border-bottom: 5px solid #707070;
                    padding: 0 10px ;
                    margin-right: 10px;
                    p{
                        opacity: 0;
                        font-size: 3rem;
                    }
                }
            }
            .game_word_meaning_kr{
                display: flex;
                width: 100%;
                height: 10%;
                justify-content: center;
                align-items: center;
                li{
                    width: 33%;
                    padding: 0 20px;
                    font-size: 1.5rem;
                }
            }
            .submit{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    height: 66px;
                    border: 1px solid #6A6A6A;
                    text-align: center;
                    font-size: 2rem
                }
                .howManyLifesYouHave{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    p{
                        font-size: 2rem;
                    }
                    h4{
                        font-size: 3rem;
                    }
                }
            }
            .game_prev{
                position: absolute;
                bottom: 2%;
                left: 2%;
                display: flex;
                align-items: center;
                img{
                    margin-right: 5px;
                }
            }
            .game_next{
                position: absolute;
                bottom: 2%;
                right: 2%;
                display: flex;
                align-items: center;
                img{
                    margin-left: 5px;
                }
            }
        }
        .quiz{
            width: 100%;
            height: 100%;
            background-color: #5E5E5E;
            color: #fff;
            position: relative;
            // display: flex;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            .start_btn{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background: #fff;
                color: #000;
                opacity: 0.9;
                z-index: 1;
                div{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 30%;
                    background: #707070;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h4{
                        cursor: pointer;
                        font-size: 3rem;
                    }
                }
            }
            .Time {
                height: 10%;
                width: 75%;
                margin: 0 auto;
                font-size: 2rem;
                p{
                    text-align: right;
                }
            }
            .question{
                width: 100%;
                height: 20%;
                text-align: center;
                .question_word{
                    font-size: 4rem;
                }
            }
            .number{
                width: 80%;
                padding-left: 100px;
                padding-bottom: 100px;
                margin: 0 auto;
                height: 50%;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    p{
                        font-size: 2rem;
                    }
                    .number_number{
                        position: relative;
                        span{
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .number_text{
                        cursor: pointer;
                    }
                }
            }
            .quiz_direction{
                display: flex;
                width: 90%;
                justify-content: space-between;
                padding-bottom: 20px;
                .quiz_prev{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    img{
                        margin-right: 20px;
                    }
                }
                .quiz_next{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    p{
                        margin-right: 20px;
                    }
                }
            }
        }
        .wordBook {
            width: 100%;
            height: 100%;
            background: #CEE3FF;
            color: #343434;
            position: relative;
            display: none;
            // display: flex;
            flex-direction: column;
            .kind_of_wordBook{
                font-size: 1.5rem;
                width: 90%;
                height: 15%;
                margin: 0 auto;
                display: flex;
                // display: none;
                align-items: flex-end;
                div {
                    width: 6em;
                    text-align: center;
                    border: 1px solid #707070;
                    border-radius: 10px;
                    cursor: pointer;
                }
                .wrongWords{
                    color: #fff;
                    background: #707070;
                    margin-right: 20px;
                }
                .addWord {
                    background: #fff;
                    color: #707070;
                }
            }
            .wrongWord_words_view{
                width: 90%;
                height: 70%;
                margin: 0 auto;
                overflow: scroll;
                overflow-x: hidden;
                // display: none;
                .wrongWord_words{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    li{
                        border-radius: 10px;
                        width: 30%;
                        text-align: center;
                        font-size: 1.5rem;
                        margin-top: 20px;
                        background: #fff;
                        color: #707070;
                        cursor: pointer;
                    }
                }
            }
            .addWord_words_view{
                width: 90%;
                height: 70%;
                margin: 0 auto;
                overflow: scroll;
                overflow-x: hidden;
                display: none;
                .addWord_words{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    li{
                        cursor: pointer;
                        border-radius: 10px;
                        width: 30%;
                        text-align: center;
                        font-size: 1.5rem;
                        margin-top: 20px;
                        background: #fff;
                        color: #707070;
                    }
                }
            }
            .TryQuiz{
                position: absolute;
                bottom: 5%;
                right: 5%;
                border-radius: 10px;
                width: 15%;
                text-align: center;
                font-size: 1.5rem;
                background: #fff;
                color: #707070;
                border: 1px solid #707070;
                cursor: pointer;
                // display: none;
            }
            .alert{
                width: 100%;
                height: 20%;
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 1.5rem;
                transform: translateY(-50%);
                background: #EEEEEE;
                border: 1px solid #707070;
                // display: flex;
                display: none;
                align-items: center;
                justify-content: center;
                .closeBtn{
                    position: absolute;
                    top: 10%;
                    right: 5%;

                }
            }
            .wordBookQuiz{
                width: 100%;
                height: 100%;
                background-color: #CEE3FF;
                color: #707070;
                // display: flex;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                .wordBookQuiz_closeBtn{
                    position: absolute;
                    top: 5%;
                    right: 5%;
                }
                .wB_question{
                    width: 100%;
                    height: 20%;
                    text-align: center;
                    .wB_question_word{
                        font-size: 4rem;
                    }
                }
                .wordBook_number{
                    width: 80%;
                    padding-left: 100px;
                    padding-bottom: 100px;
                    margin: 0 auto;
                    height: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        p{
                            font-size: 2rem;
                        }
                        .wB_number{
                            cursor: default;
                            position: relative;
                            span{
                                display: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        .wB_number_text{
                            cursor: pointer;
                        }
                    }
                }
                .wB_direction{
                    display: flex;
                    width: 90%;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    .wB_prev{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        img{
                            margin-right: 20px;
                        }
                    }
                    .wB_next{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        p{
                            margin-right: 20px;
                        }
                    }
                }
            }
            .wB_revise{
                background-color: #CEE3FF;
                color: #707070;
                width: 100%;
                height: 100%;
                display: none;
                // display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .wordBookrevise_closeBtn{
                    position: absolute;
                    top: 5%;
                    right: 5%;
                }
                .wB_direction{
                    img{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    .wB_leftBtn{
                        left: 1%;
                    }
                    .wB_rightBtn{
                        right: 1%;
                    }
                }
                .wB_wordImg{
                    width: 150px;
                    height: 200px;
                    margin-bottom: 50px;
                    img{
                        border-radius: 10px;
                        width: 100%;
                    }
                }
                .wB_word_En{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 20px;
                    h1{
                        font-size: 4rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
                .wB_meaning_Kr{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    >div {
                        padding-bottom: 32px;
                        p{
                            .wB_sentence_meaning{
                                display: block;
                            }
                        }
                    }
                }
                .wB_kr_en {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    div{
                        margin-right: 20px;
                    }
                    .wB_kr_btn{
                        p{
                            font-size: 2rem;
                            position: relative;
                            span{
                                display: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -40%);
                            }
                        }
                    }
                    .wB_En_btn{
                        p{
                            position: relative;
                            font-size: 2rem;
                            span{
                                display: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -40%);
                            }
                        }
                    }
                }
            }
        }
    }
}